/* NAVIGATION */ 
.navbar{
    background-color: #004e83;
    color: white;
    
}
.nav-link{
    position: relative; 
    display: block;
    background-color: transparent; 
    z-index: 1;
    font-weight: bold;
}
.nav-links {
    flex-wrap: nowrap;
}
.nav-link svg{
    margin-right: 10px;
}
.nav-link:hover{
    display: block;
    background-color: #001624;
    color: #aafcff;
    z-index: 2;
    
}
.nav-link:hover::before{
    content: "";
    position: absolute;
    top: -100%;
    bottom: -100%;
    width: 145px;
    right: -4px;
    z-index: -1;
    background-color: #001624;
    transform: translateY(0%);
}
.nav-link:hover svg .cls-1 {
    fill: #aafcff;
}
/*
.card{
    border: none;
}
    */
h3{
    color: #004e83;
}    